{% extends 'base.html' %}
{% block content %}
    <h1>{% block title %} Home Page {% endblock %}</h1>

    {% if message %}
        <p style="color: red;">{{ message }}</p>
    {% endif %}

    {% if not current_user.is_authenticated %}
        <h2>Welcome {{username}}!</h2>
        <a class="btn btn-outline-primary" href="{{url_for('register')}}">Create your account!</a>
    {% else %}
        <h2>Welcome {{username}}!</h2>
    {% endif %}

    {% if subs %}
        <hr>
        <h2>Featured subscriptions</h2>
        {% for sub in subs %}
            <h2 style="text-align: center;">{{sub['name']}}</h2>
            <div style="text-align: center;">
                <span class="badge badge-primary">Category: {{sub['category']}}</span>
                <span class="badge badge-primary">Price: {{sub['price']}}</span>
                <div style="display: inline;">
                    <form action="{{url_for('subscribe',id=sub['id'])}}" method="POST" style="display: inline;">
                        <button type="submit" class="badge badge-warning" class="button">Subscribe</button>
                    </form>
                </div>
            </div>
            <hr>
        {% endfor %}
    {% else %}
        <h2>No featured subscriptions to show!</h2>
    {% endif %}
{% endblock %}